#contact {
	background-color: #ffffff;
	min-height: 500px;
	padding-top: 100px;
	.socials {
	  list-style: none;
	  li {
	  	text-align: center;
	  	width: 20%;
		display: inline-block;
	  	img {
	  		height: 50px;
	  		width: 50px;
	  		cursor: pointer;
		}
		p {
	  		color: #000000;
	  		font-size: 16px;
	  		font-weight: bold;
	  		margin-top: 5px;
		}
	  } 
	}

	.title {
		text-align: center;
		font-family: $lato;
		font-size: 50px;
	}
	.divider {
		width: 10%;
		height: 5px;
		background-color: #000000;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;

	}

	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}

		.socials{

			li {
				color: transparent;
				width: 20%;
				display: inline-block;
			}
		}
		.socials {
			li  {
				img {
					height: 40px;
					width: 40px;
					color: transparent;
				}
				p {
					display: none;
				}
			} 
		}
	}
}
