#contact {
	.socials {
	  list-style: none;
	  li {
	  	text-align: center;
	  	width: 20%;
		display: inline-block;
	  	img {
	  		height: 50px;
	  		width: 50px;
	  		cursor: pointer;
		}
		p {
	  		color: #000000;
		}
	  } 
	}

	.title {
		margin-bottom: 40px;
		text-align: center;
	}
	
	@media (max-width: 600px) {
		.title {
			font-size: 25px;
		}

		.socials{

			li {
				color: transparent;
				width: 20%;
				display: inline-block;
			}
		}
		.socials {
			li  {
				img {
					height: 40px;
					width: 40px;
					color: transparent;
				}
				p {
					display: none;
				}
			} 
		}
	}
}
