 .projects-preview {
 	min-height: $section-min-height;
	background-color: $sky-blue;
	position: relative;
	color: #ffffff;
	.container {
  		text-align: center;
	  	transform: translateX(-50%) translateY(-50%);
	    position: absolute;
	    top: 50%;
		left: 50%;
		cursor: pointer;
		width: 100vw;
		.title {
			font-size: 12vw;
			font-family: $lato;
		}
		.divider {
			width: 10%;
			height: 1.5vw;
			background-color: #ffffff;
			margin: 0 auto;
		}
	}
	
}
