.project {
	width: 50%;
    padding-left: 10px;
    padding-right: 10px;
	margin-bottom: 20px;
	font-family: $lato;
	display: table-cell;
	.content-container {

		.image-container {
			min-width: 522px;
    		height: 100%;
			.image {
    			max-width: 100%;
			}
		}

	}
}
