@import "../../_globals.scss";

.projects-preview {
 	min-height: $section-min-height;
	background-color: $bg-light;
	position: relative;
	color: $text-primary;

	.container {
  		text-align: center;
	  	transform: translateX(-50%) translateY(-50%);
	    position: absolute;
	    top: 50%;
		left: 50%;
		cursor: pointer;
		width: 100vw;

		.title {
			font-size: 10vw;
			font-family: $inter;
			font-weight: 700;
			transition: color 0.3s ease;
		}

		.divider {
			width: 10%;
			height: 4px;
			background-color: $accent;
			margin: 0 auto;
			border-radius: 2px;
			transition: width 0.3s ease;
		}

		a {
			color: $text-primary;
			text-decoration: none;

			&:visited { color: $text-primary; }
			&:hover { color: $accent; }
			&:active { color: $text-primary; }
		}
	}
}
