#hero {
	background: url("../assets/images/header.png") no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	padding-top: 40vh;

  	.container {
  		text-align: center;
	}

	h2 {
		margin-top: 0;
	}

	.title-text {
		color: #FFFFFF;
		font-weight: 800;
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		padding-bottom: 5px;
		line-height: 1em;
		font-weight: bold;
	}

	.name {
		font-size: 90px;
	}

	.job {
		font-size: 33px;
	}

	.avatar {
		background-color: #ffffff;
		border-radius: 250px;
		margin: 0 auto;
		position: absolute;
		text-align: center;
		top: 85vh;
		height: 300px;
		width: 300px;
		display: block;
		left: 0;
		right: 0;
		visibility: hidden;
		z-index: 2;
	  	img {
			border-radius: 250px;
			margin: 0 auto;
			height: 300px;
			width: 300px;
		}
	}
}