@import "./_globals.scss";

html {
    margin: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-white;
    color: $text-primary;
    font-family: $inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: $bg-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-container {
    display: none;
}
