@import "../../_globals.scss";

#arrow {
	z-index: 1000;
	&.circle-button {
		position: absolute;
		cursor: pointer;
		opacity: 0;
		bottom: 30px;
		right: 10px;
		width: 60px;
		height: 60px;
		margin-left: -30px;
		text-align: center;
		font-size: 30px;
		line-height: 60px;
		border-radius: 50%;
		animation: bounce 2s infinite;
		transition-timing-function: ease-out;
		transition-duration: 0.2s;

		&:hover {
			border-color: $accent;
		}
	}

	.image-arrow {
		height: 20px;
    	margin-top: 20px;
		filter: brightness(0);
	}

	&.black {
		border: 2px solid $text-primary;
		color: $text-primary;
		top: 95px;
	}

	&.white {
		border: 2px solid $text-primary;
		color: $text-primary;
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
		40% { transform: translateY(-30px); }
		60% { transform: translateY(-15px); }
	}

	@media (max-width: 600px) {
		display: none;
	}
}
