@use "../../_globals.scss" as *;

.about {
  background-color: $bg-light;
  color: $text-secondary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
  overflow: auto;

  .close-icon {
    z-index: 100;
    position: absolute;
    right: 30px;
    top: 30px;
    svg {
      width: 28px;
      height: 28px;
      fill: $text-secondary;
    }
  }

  .scroll-container {
    text-align: center;
    padding: 80px 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 32px;
      font-family: $inter;
      font-weight: 700;
      margin-bottom: 30px;
      color: $text-primary;
    }

    .description {
      font-size: 17px;
      font-family: $inter;
      padding-bottom: 40px;
      line-height: 1.7;
      color: $text-secondary;
    }

    .phrase-container {
      border-left: 4px solid $accent;
      padding: 16px 24px;
      text-align: left;
      display: inline-block;

      .phrase {
        font-size: 20px;
        font-style: italic;
        color: $text-primary;
        font-weight: 500;
      }
      .author {
        font-style: italic;
        color: $text-muted;
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }
}
