 .description-canvas {
	margin-top: 0px;
	z-index: 1;
	min-height: 500px;
	background-color: $olive-green;
	text-align: center;
	color: black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;

	.description-container { 
	    max-width: 800px;
	    margin: 0 auto;

    	.title {
			padding-top: 210px;
			font-weight: 800;
			font-size: 25px;
		}

    	.sub-title {
			font-size: 20px;
			padding-bottom: 20px;
			color: black;
		}

		.description {
			font-size: 18px;
			font-weight: 100;
			color: white;

		}
	}

	#canvas-container {
		position: absolute;
		width: 100%;
	}

	@media (max-width: 600px) {
		min-height: 350px;

	  	.description-container { 
			.title {
		    	font-size: 20px;
		   		padding-top: 110px;
		 	}
		 	.sub-title {
				font-size: 16px;
			}
			.description {
		    	font-size: 15px;
		    	padding-left: 20px;
    			padding-right: 20px;
		  	}
		}
	}
}
